
.Exo2{
    font-family: "Exo 2";
    font-weight: 700;
    
}

@media (max-width: 1200px) {

    .web{
        display: none;
    }

    .mobile{
        display: flex !important;
    }

    .row{
        flex-direction: column;
        padding: 0;
    }


    .contact-1{
        width: 80%;
        height: 500px;
        margin-right: 0px !important;
        margin-top: 100px;
        margin-bottom: 70px;
    }

    .contact-2{
        width: 80%;
        height: 500px;
        margin-left: 0px !important;
        margin-bottom: 100px;
        margin-top: 70px;
    }

    .maps{
        height: 800px !important;
    }

  }

  @media (max-width: 1200px) {

    .Exo2 p{
        font-size: 20px;
    }

  }

  @media (max-width: 1000px) {
    .maps{
        height: 300px !important;
    }
  }